.navbar-mobile-container {
  display: none;
  flex-direction: column;
  background-color: #0f52ba;
  width: 100%;
  position: fixed;
}

.navbar-mobile-logoSection {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.navbar-logo-mobile {
  height: 60px;
  width: 120px;
}

.navbar-mobile-button {
  border: none;
  height: 60px;
  width: 60px;
  background: url(../images/hamburguer-white-icon.svg) no-repeat;
  background-size: 60px 60px;
}

.navbar-mobile-searchContainer {
  width: 100%;
  background-color: #99badd;
  padding: 10px 0 10px 10px;
}

.navbar-mobile-searchContainer div {
  width: 80%;
  /* margin: 10px 0px 10px 5px; */
}

.navbar-mobile-searchContainer:hover {
  background-color: #6495ed;
}

.navbar-mobile-btn-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 60px;
  background-color: #99badd;
}

.navbar-mobile-btn-wrapper a {
  text-decoration: none;
  color: black;
  margin-left: 5px;
  font-size: 20px;
}

.navbar-mobile-btn-wrapper:hover {
  background-color: #6495ed;
}

/*The style for tablet devices 992px and up*/
@media (min-width: 768px) {
  .navbar-mobile-searchContainer div {
    width: 95%;
  }
}

/*The style for the laptop devices 992px and less*/
@media (max-width: 992px) {
  .navbar-mobile-container {
    display: flex;
  }
}
