/* The style of the section containing the
  search box and the check boxes filter by country */
.search-container {
  position: relative;
  top: 15%;
  width: 35%;
  margin: 0 auto;
}

.filter-country {
  color: white;
}

.filter-country label {
  margin-right: 20px;
}

/*The style for the laptop devices fewer than 1200px*/
@media (max-width: 1200px) {
  .search-container {
    width: 55%;
  }
}

/*The style for the laptop devices fewer than 992px*/
@media (max-width: 992px) {
  .search-container {
    width: 80%;
  }
}
